$primary-color: #cff2da;
$secondary-color: #37515C;
$tertiary-color: #C3C2C6;
$highlight-color: #EBF5EE;
$darkest-color: #000;

@mixin centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  color: $highlight-color;
}

html {
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
  border: 2px solid $darkest-color;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;

  .recipe-display {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
  }

  .recipe-display-main {
    position: fixed;
    left: 10%;
    top: 5rem;
    background-color: $highlight-color;
    height: 30rem;
    width: 80%;
    border-radius: 0.5rem;
    overflow: scroll;
    padding: 3rem;
  }

  .page-title {
    color: $highlight-color;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  text-align: center;
  width: 30%;
}

.wrapper {
  @include centerFlex;
}

.hidden {
  display: none;
}

.main-header {
  background-color: $highlight-color;
  border-bottom: 1px solid $darkest-color;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  background-color: $highlight-color;
  width: 100%;

  .hamburger-menu {
    height: 4rem;
    width: 4rem;
  }

  .x-menu {
    @include centerFlex;
    height: 4rem;
    width: 4rem;
  }

  .header-title {
    text-align: center;
    grid-column-start: 2;
    width: 100%;
  }

  .hidden {
    display: none;
  }
}
.open-menu-selections {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $highlight-color;
  
  h3:hover {
    color: $secondary-color;
  }

  a {
    text-decoration: none;
    font-size: 2rem;
  }
  a:visited {
    color: $darkest-color
  }
  a:hover {
    color: $secondary-color
  }

  .menu-selection {
    color: $darkest-color;
    grid-column-start: 2;
    border-bottom: solid;
    text-align: center;
    width: 50%;
  }

  .menu-favorites {
    border: none;
  }
}

.page-title-and-search {

  .page-title {
    text-align: center;
    margin: auto;
  }

  .search-wrapper {
  @include centerFlex;

  
  .search-icon {
    display: flex;
    height: 1rem;
    width: 1rem;
  }

  .search-recipes-input {
    height: 1.5rem;
    width: 8rem;
    background-color: $highlight-color;
    border: 1px solid $darkest-color;
  }

  .search-button {
    @include centerFlex();
    height: 1.75rem;
    width: 1.75rem;
    border: 1px solid $darkest-color;
  }
}

  .search-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.all-cards {
  padding: 2rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;
  width: 100%;
}

.pantry-cards {
  padding: 2rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;
  width: 100%;
}

.single-ingredient-card {
  display: grid;
  border-radius: 0.5rem;
  grid-template-rows: 0.5fr 3.25fr;
  background-color: $highlight-color;

  .ingredient-name-area {
    @include centerFlex;
  }

  .ingredient-quantity-section {
    @include centerFlex;
  }
  
  p {
    font-size: 500%;
    margin: 3rem;
  }
}

.single-recipe-card {
  display: grid;
  border-radius: 0.5rem;
  grid-template-rows: 0.25fr 3fr 0.5fr;
  background-color: $highlight-color;
  box-shadow: 0 0 3px $darkest-color;

  .all-card-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 3rem;
    margin: auto;
  }

  .card-icon {
    height: 2rem;
    width: 2rem;
  }

  .recipe-name {
    text-align: center;
  }

  .card-image-section {
    @include centerFlex
  }

  .card-image {
    border: 1px solid $darkest-color;
    width: 93%;
    height: auto;
  }
}

.user-info {
  margin: 0 auto;
  text-align: center;
  width: 40%;
}

.menu-selection:hover,
.search-icon:hover {
  cursor: pointer;
}

.menu-selection:active,
.search-icon:active {
  background-color: $tertiary-color;
}


.favorite {
  background-color: $highlight-color;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 13%;
}

h3 {
  padding: 1rem 0 1rem 0;
  color: $darkest-color;
  font-size: 2rem;
}

.recipe-name {
  display: block;
  font-size: 150%;
  text-align: center;
}

.card-image:hover {
  opacity: 0.7;
}

.card-image:active {
  border: 2px solid $darkest-color;
}

main {
  @include centerFlex();
  background-color: #37515C;
  height: auto;
  width: 100%;
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

@media (min-width: 800px) {
  .all-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .all-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}