html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #37515C;
  border: 2px solid #000;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

body .recipe-display {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
}

body .recipe-display-main {
  position: fixed;
  left: 10%;
  top: 5rem;
  background-color: #EBF5EE;
  height: 30rem;
  width: 80%;
  border-radius: 0.5rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  text-align: center;
  width: 30%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  display: none;
}

.main-header {
  background-color: #EBF5EE;
  border-bottom: 1px solid #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  background-color: #EBF5EE;
  width: 100%;
}

.main-header .hamburger-menu {
  height: 4rem;
  width: 4rem;
}

.main-header .x-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  width: 4rem;
}

.main-header .header-title {
  text-align: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  width: 100%;
}

.main-header .hidden {
  display: none;
}

.open-menu-selections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EBF5EE;
}

.open-menu-selections h3:hover {
  color: #37515C;
}

.open-menu-selections a {
  text-decoration: none;
  font-size: 2rem;
}

.open-menu-selections a:visited {
  color: #000;
}

.open-menu-selections a:hover {
  color: #37515C;
}

.open-menu-selections .menu-selection {
  color: #000;
  -ms-grid-column: 2;
      grid-column-start: 2;
  border-bottom: solid;
  text-align: center;
  width: 50%;
}

.open-menu-selections .menu-favorites {
  border: none;
}

.page-title-and-search .page-title {
  text-align: center;
  margin: auto;
  color: #EBF5EE;
}

.page-title-and-search .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
}

.page-title-and-search .search-wrapper .search-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
}

.page-title-and-search .search-wrapper .search-recipes-input {
  height: 100%;
  width: 25%;
  background-color: #EBF5EE;
  border: 1px solid #000;
  margin: 0;
  padding-left: 1rem;
  font-size: 1.25rem;
}

.page-title-and-search .search-wrapper .search-recipes-input::-webkit-input-placeholder {
  font-size: 1.25rem;
}

.page-title-and-search .search-wrapper .search-recipes-input:-ms-input-placeholder {
  font-size: 1.25rem;
}

.page-title-and-search .search-wrapper .search-recipes-input::-ms-input-placeholder {
  font-size: 1.25rem;
}

.page-title-and-search .search-wrapper .search-recipes-input::placeholder {
  font-size: 1.25rem;
}

.page-title-and-search .search-wrapper .search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.25rem;
  width: 3.25rem;
  margin: 0;
  padding: 0;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  background-color: #C3C2C6;
  border: 1px solid #000;
}

.all-cards {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 100%;
}

.pantry-cards {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 100%;
}

.single-ingredient-card {
  display: -ms-grid;
  display: grid;
  border-radius: 0.5rem;
  -ms-grid-rows: 0.5fr 3.25fr;
      grid-template-rows: 0.5fr 3.25fr;
  background-color: #EBF5EE;
}

.single-ingredient-card .ingredient-name-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-ingredient-card .ingredient-quantity-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-ingredient-card p {
  font-size: 500%;
  margin: 3rem;
}

.single-recipe-card {
  display: -ms-grid;
  display: grid;
  border-radius: 0.5rem;
  -ms-grid-rows: 0.25fr 3fr 0.5fr;
      grid-template-rows: 0.25fr 3fr 0.5fr;
  background-color: #EBF5EE;
  -webkit-box-shadow: 0 0 3px #000;
          box-shadow: 0 0 3px #000;
}

.single-recipe-card .all-card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 3rem;
  margin: auto;
}

.single-recipe-card .card-icon {
  height: 2rem;
  width: 2rem;
}

.single-recipe-card .recipe-name {
  text-align: center;
}

.single-recipe-card .card-image-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-recipe-card .card-image {
  border: 1px solid #000;
  width: 93%;
  height: auto;
}

.user-info {
  margin: 0 auto;
  text-align: center;
  width: 40%;
}

.menu-selection:hover,
.search-icon:hover {
  cursor: pointer;
}

.menu-selection:active,
.search-icon:active {
  background-color: #C3C2C6;
}

.card-button {
  border: 1px solid #000;
  height: 27px;
  margin: 3px;
}

.add-button {
  background-color: #EBF5EE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12%;
}

.add {
  width: 100%;
}

.favorite {
  background-color: #EBF5EE;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 13%;
}

.card {
  background-color: #D7F2FE;
  border: 3px solid #000;
  width: 100%;
}

.all {
  grid-gap: 0px;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  color: #EBF5EE;
  font-size: 220%;
  width: 100%;
}

h3 {
  padding: 1rem 0 1rem 0;
  color: #000;
  font-size: 2rem;
}

.recipe-name {
  display: block;
  font-size: 150%;
  text-align: center;
}

.card-picture:hover {
  opacity: 0.7;
}

.card-picture:active {
  border: 2px solid #000;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #37515C;
  height: auto;
  width: 100%;
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

.recipe-display-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recipe-display-left {
  width: 30%;
}

@media (min-width: 800px) {
  .all-cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .all-cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=styles.css.map */