html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #37515C;
  border: 2px solid #000;
  height: 100%;
  width: 100%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  width: 100%;
}

h1 {
  font-size: 255%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
  text-align: center;
  width: 30%;
}

.main-header {
  background-color: #EBF5EE;
  border: 2px solid #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #EBF5EE;
  width: 100%;
}

.main-header .hamburger-menu {
  height: 4rem;
  width: 4rem;
}

.main-header .x-menu {
  height: 4rem;
  width: 4rem;
}

.main-header .open-menu-title {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.main-header .header-title {
  text-align: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
}

.open-menu-selections {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EBF5EE;
}

.open-menu-selections .menu-selection {
  -ms-grid-column: 2;
      grid-column-start: 2;
  border-bottom: solid;
  text-align: center;
  background-color: #37515C;
  font-size: 130%;
  margin: 1%;
}

.open-menu-selections .menu-favorites {
  border: none;
}

.all-recipes-and-search .all-recipes-title {
  text-align: center;
}

.all-recipes-and-search .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-recipes-and-search .search-wrapper .search-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  margin: 10px 0px 10px 0px;
}

.all-recipes-and-search .search-wrapper .search-recipes-input {
  height: 1.5rem;
  width: 8rem;
  background-color: #EBF5EE;
  border: 1px solid #000;
  margin-top: 0.1rem;
}

.all-recipes-and-search .search-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.all-cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  width: 95%;
}

.single-recipe-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.25fr 3fr 0.5fr;
      grid-template-rows: 0.25fr 3fr 0.5fr;
  background-color: #EBF5EE;
}

.single-recipe-card .all-card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.single-recipe-card .card-icon {
  height: 2rem;
  width: 2rem;
}

.single-recipe-card .recipe-name {
  text-align: center;
}

.single-recipe-card .card-image {
  border: 1px solid #000;
  height: 200px;
  margin: 10px 3% 8px 2.6%;
  width: 94%;
}

.user-info {
  font-size: 180%;
  margin: auto;
  text-align: center;
  width: 40%;
}

.menu-selection:hover,
.search-icon:hover {
  background-color: #cff2da;
}

.menu-selection:active,
.search-icon:active {
  background-color: #C3C2C6;
}

.card-button {
  border: 1px solid #000;
  height: 27px;
  margin: 3px;
}

.add-button {
  background-color: #EBF5EE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12%;
}

.add {
  width: 100%;
}

.hidden {
  display: none;
}

.favorite {
  background-color: #EBF5EE;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 13%;
}

.card {
  background-color: #D7F2FE;
  border: 3px solid #000;
  width: 100%;
}

.all {
  grid-gap: 0px;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  color: #EBF5EE;
  font-size: 220%;
  width: 100%;
}

h3 {
  color: #EBF5EE;
  font-size: 250%;
}

.recipe-name {
  display: block;
  font-size: 150%;
  text-align: center;
}

.card-picture:hover {
  opacity: 0.7;
}

.card-picture:active {
  border: 2px solid #000;
}

main {
  background-color: #37515C;
  height: 100%;
  width: 100%;
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}